/* Baslangiç Gizle Göster sinifi */
.hide{
	display:none;
}
.show{
	display:inherit;
}
.middle{
	float:none;
	margin-left:auto;
	margin-right:auto;
}
.left{
	float:left;
}
.right{
	float:right;
}
.center{
	text-align:center;
}

.content-left{
	text-align:left;
}
.content-center{
	text-align:center;
}
.content-right{
	text-align:right;
}
/* Bitis Gizle Göster sinifi */



.unselectable{
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select:none;
	user-select:none;
	-o-user-select:none;
}





/* Baþlangýç - Boþluk sýnýfý */
/*.gap-1{
	height:2vw;
}
.gap-2{
	height:3.5vw;
}
.gap-3{
	height:5vw;
}*/
/* Bitiþ - Boþluk sýnýfý */



/* Baslangiç - Grid kodlari */
.grid{
	float:left;
	display:inherit;
}
.grid-0{};
.grid-1{width:1%;}
.grid-2{width:2%;}
.grid-3{width:3%;}
.grid-4{width:4%;}
.grid-5{width:5%;}
.grid-6{width:6%;}
.grid-7{width:7%;}
.grid-8{width:8%;}
.grid-9{width:9%;}
.grid-10{width:10%;}
.grid-11{width:11%;}
.grid-12{width:12%;}
.grid-13{width:13%;}
.grid-14{width:14%;}
.grid-15{width:15%;}
.grid-16{width:16%;}
.grid-17{width:17%;}
.grid-18{width:18%;}
.grid-19{width:19%;}
.grid-20{width:20%;}
.grid-21{width:21%;}
.grid-22{width:22%;}
.grid-23{width:23%;}
.grid-24{width:24%;}
.grid-25{width:25%;}
.grid-26{width:26%;}
.grid-27{width:27%;}
.grid-28{width:28%;}
.grid-29{width:29%;}
.grid-30{width:30%;}
.grid-31{width:31%;}
.grid-32{width:32%;}
.grid-33{width:33%;}
.grid-34{width:34%;}
.grid-35{width:35%;}
.grid-36{width:36%;}
.grid-37{width:37%;}
.grid-38{width:38%;}
.grid-39{width:39%;}
.grid-40{width:40%;}
.grid-41{width:41%;}
.grid-42{width:42%;}
.grid-43{width:43%;}
.grid-44{width:44%;}
.grid-45{width:45%;}
.grid-46{width:46%;}
.grid-47{width:47%;}
.grid-48{width:48%;}
.grid-49{width:49%;}
.grid-50{width:50%;}
.grid-51{width:51%;}
.grid-52{width:52%;}
.grid-53{width:53%;}
.grid-54{width:54%;}
.grid-55{width:55%;}
.grid-56{width:56%;}
.grid-57{width:57%;}
.grid-58{width:58%;}
.grid-59{width:59%;}
.grid-60{width:60%;}
.grid-61{width:61%;}
.grid-62{width:62%;}
.grid-63{width:63%;}
.grid-64{width:64%;}
.grid-65{width:65%;}
.grid-66{width:66%;}
.grid-67{width:67%;}
.grid-68{width:68%;}
.grid-69{width:69%;}
.grid-70{width:70%;}
.grid-71{width:71%;}
.grid-72{width:72%;}
.grid-73{width:73%;}
.grid-74{width:74%;}
.grid-75{width:75%;}
.grid-76{width:76%;}
.grid-77{width:77%;}
.grid-78{width:78%;}
.grid-79{width:79%;}
.grid-80{width:80%;}
.grid-81{width:81%;}
.grid-82{width:82%;}
.grid-83{width:83%;}
.grid-84{width:84%;}
.grid-85{width:85%;}
.grid-86{width:86%;}
.grid-87{width:87%;}
.grid-88{width:88%;}
.grid-89{width:89%;}
.grid-90{width:90%;}
.grid-91{width:91%;}
.grid-92{width:92%;}
.grid-93{width:93%;}
.grid-94{width:94%;}
.grid-95{width:95%;}
.grid-96{width:96%;}
.grid-97{width:97%;}
.grid-98{width:98%;}
.grid-99{width:99%;}
.grid-100{width:100%;}

.grid-0, .grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12, .grid-13, .grid-14, .grid-15, .grid-16, .grid-17, .grid-18, .grid-19, .grid-20, .grid-21, .grid-22, .grid-23, .grid-24, .grid-25, .grid-26, .grid-27, .grid-28, .grid-29, .grid-30, .grid-31, .grid-32, .grid-33, .grid-34, .grid-35, .grid-36, .grid-37, .grid-38, .grid-39, .grid-40, .grid-41, .grid-42, .grid-43, .grid-44, .grid-45, .grid-46, .grid-47, .grid-48, .grid-49, .grid-50, .grid-51, .grid-52, .grid-53, .grid-54, .grid-55, .grid-56, .grid-57, .grid-58, .grid-59, .grid-60, .grid-61, .grid-62, .grid-63, .grid-64,  .grid-65, .grid-66, .grid-67, .grid-68, .grid-69, .grid-70, .grid-71, .grid-72, .grid-73, .grid-74, .grid-75, .grid-76, .grid-77, .grid-78, .grid-79, .grid-80, .grid-81, grid-82, .grid-83, .grid-84, .grid-85, .grid-86, .grid-87, .grid-88, .grid-89, .grid-90, .grid-91, .grid-92, .grid-93, .grid-94, .grid-95, .grid-96, .grid-97, .grid-98, .grid-99, .grid-100 {
	float:left;
	overflow:hidden;
	/*display:inline;*/
	/*display:inherit;*/
	/*border:solid 1px #000000;*/
}

@media screen and (max-width:768px) {
.grid-0, .grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12, .grid-13, .grid-14, .grid-15, .grid-16, .grid-17, .grid-18, .grid-19, .grid-20, .grid-21, .grid-22, .grid-23, .grid-24, .grid-25, .grid-26, .grid-27, .grid-28, .grid-29, .grid-30, .grid-31, .grid-32, .grid-33, .grid-34, .grid-35, .grid-36, .grid-37, .grid-38, .grid-39, .grid-40, .grid-41, .grid-42, .grid-43, .grid-44, .grid-45, .grid-46, .grid-47, .grid-48, .grid-49, .grid-50, .grid-51, .grid-52, .grid-53, .grid-54, .grid-55, .grid-56, .grid-57, .grid-58, .grid-59, .grid-60, .grid-61, .grid-62, .grid-63, .grid-64,  .grid-65, .grid-66, .grid-67, .grid-68, .grid-69, .grid-70, .grid-71, .grid-72, .grid-73, .grid-74, .grid-75, .grid-76, .grid-77, .grid-78, .grid-79, .grid-80, .grid-81, grid-82, .grid-83, .grid-84, .grid-85, .grid-86, .grid-87, .grid-88, .grid-89, .grid-90, .grid-91, .grid-92, .grid-93, .grid-94, .grid-95, .grid-96, .grid-97, .grid-98, .grid-99, .grid-100 {
	float:none;
	width:100%;
	/*overflow:auto;*/
}
}
/* Bitis - Grid kodlari */


/* Baslangiç - Grid2 kodlari */
/* Ekranýn geniþliðine baðlý olarak deðiþmiyor. */
/* Sürekli ortalama için. */

.grid2-0{};
.grid2-1{width:1%;}
.grid2-2{width:2%;}
.grid2-3{width:3%;}
.grid2-4{width:4%;}
.grid2-5{width:5%;}
.grid2-6{width:6%;}
.grid2-7{width:7%;}
.grid2-8{width:8%;}
.grid2-9{width:9%;}
.grid2-10{width:10%;}
.grid2-11{width:11%;}
.grid2-12{width:12%;}
.grid2-13{width:13%;}
.grid2-14{width:14%;}
.grid2-15{width:15%;}
.grid2-16{width:16%;}
.grid2-17{width:17%;}
.grid2-18{width:18%;}
.grid2-19{width:19%;}
.grid2-20{width:20%;}
.grid2-21{width:21%;}
.grid2-22{width:22%;}
.grid2-23{width:23%;}
.grid2-24{width:24%;}
.grid2-25{width:25%;}
.grid2-26{width:26%;}
.grid2-27{width:27%;}
.grid2-28{width:28%;}
.grid2-29{width:29%;}
.grid2-30{width:30%;}
.grid2-31{width:31%;}
.grid2-32{width:32%;}
.grid2-33{width:33%;}
.grid2-34{width:34%;}
.grid2-35{width:35%;}
.grid2-36{width:36%;}
.grid2-37{width:37%;}
.grid2-38{width:38%;}
.grid2-39{width:39%;}
.grid2-40{width:40%;}
.grid2-41{width:41%;}
.grid2-42{width:42%;}
.grid2-43{width:43%;}
.grid2-44{width:44%;}
.grid2-45{width:45%;}
.grid2-46{width:46%;}
.grid2-47{width:47%;}
.grid2-48{width:48%;}
.grid2-49{width:49%;}
.grid2-50{width:50%;}
.grid2-51{width:51%;}
.grid2-52{width:52%;}
.grid2-53{width:53%;}
.grid2-54{width:54%;}
.grid2-55{width:55%;}
.grid2-56{width:56%;}
.grid2-57{width:57%;}
.grid2-58{width:58%;}
.grid2-59{width:59%;}
.grid2-60{width:60%;}
.grid2-61{width:61%;}
.grid2-62{width:62%;}
.grid2-63{width:63%;}
.grid2-64{width:64%;}
.grid2-65{width:65%;}
.grid2-66{width:66%;}
.grid2-67{width:67%;}
.grid2-68{width:68%;}
.grid2-69{width:69%;}
.grid2-70{width:70%;}
.grid2-71{width:71%;}
.grid2-72{width:72%;}
.grid2-73{width:73%;}
.grid2-74{width:74%;}
.grid2-75{width:75%;}
.grid2-76{width:76%;}
.grid2-77{width:77%;}
.grid2-78{width:78%;}
.grid2-79{width:79%;}
.grid2-80{width:80%;}
.grid2-81{width:81%;}
.grid2-82{width:82%;}
.grid2-83{width:83%;}
.grid2-84{width:84%;}
.grid2-85{width:85%;}
.grid2-86{width:86%;}
.grid2-87{width:87%;}
.grid2-88{width:88%;}
.grid2-89{width:89%;}
.grid2-90{width:90%;}
.grid2-91{width:91%;}
.grid2-92{width:92%;}
.grid2-93{width:93%;}
.grid2-94{width:94%;}
.grid2-95{width:95%;}
.grid2-96{width:96%;}
.grid2-97{width:97%;}
.grid2-98{width:98%;}
.grid2-99{width:99%;}
.grid2-100{width:100%;}


.grid2-0, .grid2-1, .grid2-2, .grid2-3, .grid2-4, .grid2-5, .grid2-6, .grid2-7, .grid2-8, .grid2-9, .grid2-10, .grid2-11, .grid2-12, .grid2-13, .grid2-14, .grid2-15, .grid2-16, .grid2-17, .grid2-18, .grid2-19, .grid2-20, .grid2-21, .grid2-22, .grid2-23, .grid2-24, .grid2-25, .grid2-26, .grid2-27, .grid2-28, .grid2-29, .grid2-30, .grid2-31, .grid2-32, .grid2-33, .grid2-34, .grid2-35, .grid2-36, .grid2-37, .grid2-38, .grid2-39, .grid2-40, .grid2-41, .grid2-42, .grid2-43, .grid2-44, .grid2-45, .grid2-46, .grid2-47, .grid2-48, .grid2-49, .grid2-50, .grid2-51, .grid2-52, .grid2-53, .grid2-54, .grid2-55, .grid2-56, .grid2-57, .grid2-58, .grid2-59, .grid2-60, .grid2-61, .grid2-62, .grid2-63, .grid2-64,  .grid2-65, .grid2-66, .grid2-67, .grid2-68, .grid2-69, .grid2-70, .grid2-71, .grid2-72, .grid2-73, .grid2-74, .grid2-75, .grid2-76, .grid2-77, .grid2-78, .grid2-79, .grid2-80, .grid2-81, grid2-82, .grid2-83, .grid2-84, .grid2-85, .grid2-86, .grid2-87, .grid2-88, .grid2-89, .grid2-90, .grid2-91, .grid2-92, .grid2-93, .grid2-94, .grid2-95, .grid2-96, .grid2-97, .grid2-98, .grid2-99, .grid2-100 {
	float:left;
	overflow:auto;
}

.grid2h-0{height:0vw};
.grid2h-01{height:0.1vw;}
.grid2h-02{height:0.2vw;}
.grid2h-03{height:0.3vw;}
.grid2h-04{height:0.4vw;}
.grid2h-05{height:0.5vw;}
.grid2h-06{height:0.6vw;}
.grid2h-07{height:0.7vw;}
.grid2h-08{height:0.8vw;}
.grid2h-09{height:0.9vw;}
.grid2h-10{height:0.1vw;}
.grid2h-11{height:1.1vw;}
.grid2h-12{height:1.2vw;}
.grid2h-13{height:1.3vw;}
.grid2h-14{height:1.4vw;}
.grid2h-15{height:1.5vw;}
.grid2h-16{height:1.6vw;}
.grid2h-17{height:1.7vw;}
.grid2h-18{height:1.8vw;}
.grid2h-19{height:1.9vw;}
.grid2h-20{height:2.0vw;}
.grid2h-21{height:2.1vw;}
.grid2h-22{height:2.2vw;}
.grid2h-23{height:2.3vw;}
.grid2h-24{height:2.4vw;}
.grid2h-25{height:2.5vw;}
.grid2h-26{height:2.6vw;}
.grid2h-27{height:2.7vw;}
.grid2h-28{height:2.8vw;}
.grid2h-29{height:2.9vw;}
.grid2h-30{height:3.0vw;}
.grid2h-31{height:3.1vw;}
.grid2h-32{height:3.2vw;}
.grid2h-33{height:3.3vw;}
.grid2h-34{height:3.4vw;}
.grid2h-35{height:3.5vw;}
.grid2h-36{height:3.6vw;}
.grid2h-37{height:3.7vw;}
.grid2h-38{height:3.8vw;}
.grid2h-39{height:3.9vw;}
.grid2h-40{height:4.0vw;}
.grid2h-41{height:4.1vw;}
.grid2h-42{height:4.2vw;}
.grid2h-43{height:4.3vw;}
.grid2h-44{height:4.4vw;}
.grid2h-45{height:4.5vw;}
.grid2h-46{height:4.6vw;}
.grid2h-47{height:4.7vw;}
.grid2h-48{height:4.8vw;}
.grid2h-49{height:4.9vw;}
.grid2h-50{height:5.0vw;}
.grid2h-51{height:5.1vw;}
.grid2h-52{height:5.2vw;}
.grid2h-53{height:5.3vw;}
.grid2h-54{height:5.4vw;}
.grid2h-55{height:5.5vw;}
.grid2h-56{height:5.6vw;}
.grid2h-57{height:5.7vw;}
.grid2h-58{height:5.8vw;}
.grid2h-59{height:5.9vw;}
.grid2h-60{height:6.0vw;}
.grid2h-61{height:6.1vw;}
.grid2h-62{height:6.2vw;}
.grid2h-63{height:6.3vw;}
.grid2h-64{height:6.4vw;}
.grid2h-65{height:6.5vw;}
.grid2h-66{height:6.6vw;}
.grid2h-67{height:6.7vw;}
.grid2h-68{height:6.8vw;}
.grid2h-69{height:6.9vw;}
.grid2h-70{height:7.0vw;}
.grid2h-71{height:7.1vw;}
.grid2h-72{height:7.2vw;}
.grid2h-73{height:7.3vw;}
.grid2h-74{height:7.4vw;}
.grid2h-75{height:7.5vw;}
.grid2h-76{height:7.6vw;}
.grid2h-77{height:7.7vw;}
.grid2h-78{height:7.8vw;}
.grid2h-79{height:7.9vw;}
.grid2h-80{height:8.0vw;}
.grid2h-81{height:8.1vw;}
.grid2h-82{height:8.2vw;}
.grid2h-83{height:8.3vw;}
.grid2h-84{height:8.4vw;}
.grid2h-85{height:8.5vw;}
.grid2h-86{height:8.6vw;}
.grid2h-87{height:8.7vw;}
.grid2h-88{height:8.8vw;}
.grid2h-89{height:8.9vw;}
.grid2h-90{height:9.0vw;}
.grid2h-91{height:9.1vw;}
.grid2h-92{height:9.2vw;}
.grid2h-93{height:9.3vw;}
.grid2h-94{height:9.4vw;}
.grid2h-95{height:9.5vw;}
.grid2h-96{height:9.6vw;}
.grid2h-97{height:9.7vw;}
.grid2h-98{height:9.8vw;}
.grid2h-99{height:9.9vw;}
.grid2h-100{height:10.0vw;}
/* Bitis - Grid2 kodlari */



/*.margin-1{margin:1vw;}
.margin-2{margin:2vw;}
.margin-3{margin:3vw;}
.margin-4{margin:4vw;}
.margin-5{margin:5vw;}
.margin-6{margin:6vw;}
.margin-7{margin:7vw;}
.margin-8{margin:8vw;}
.margin-9{margin:9vw;}
.margin-10{margin:10vw;}
.margin-11{margin:11vw;}
.margin-12{margin:12vw;}
.margin-13{margin:13vw;}
.margin-14{margin:14vw;}
.margin-15{margin:15vw;}
.margin-16{margin:16vw;}
.margin-17{margin:17vw;}
.margin-18{margin:18vw;}
.margin-19{margin:19vw;}
.margin-20{margin:20vw;}
.margin-21{margin:21vw;}
.margin-22{margin:22vw;}
.margin-23{margin:23vw;}
.margin-24{margin:24vw;}
.margin-25{margin:25vw;}
.margin-26{margin:26vw;}
.margin-27{margin:27vw;}
.margin-28{margin:28vw;}
.margin-29{margin:29vw;}
.margin-30{margin:30vw;}
.margin-31{margin:31vw;}
.margin-32{margin:32vw;}
.margin-33{margin:33vw;}
.margin-34{margin:34vw;}
.margin-35{margin:35vw;}
.margin-36{margin:36vw;}
.margin-37{margin:37vw;}
.margin-38{margin:38vw;}
.margin-39{margin:39vw;}
.margin-40{margin:40vw;}
.margin-41{margin:41vw;}
.margin-42{margin:42vw;}
.margin-43{margin:43vw;}
.margin-44{margin:44vw;}
.margin-45{margin:45vw;}
.margin-46{margin:46vw;}
.margin-47{margin:47vw;}
.margin-48{margin:48vw;}
.margin-49{margin:49vw;}
.margin-50{margin:50vw;}
.margin-51{margin:51vw;}
.margin-52{margin:52vw;}
.margin-53{margin:53vw;}
.margin-54{margin:54vw;}
.margin-55{margin:55vw;}
.margin-56{margin:56vw;}
.margin-57{margin:57vw;}
.margin-58{margin:58vw;}
.margin-59{margin:59vw;}
.margin-60{margin:60vw;}
.margin-61{margin:61vw;}
.margin-62{margin:62vw;}
.margin-63{margin:63vw;}
.margin-64{margin:64vw;}
.margin-65{margin:65vw;}
.margin-66{margin:66vw;}
.margin-67{margin:67vw;}
.margin-68{margin:68vw;}
.margin-69{margin:69vw;}
.margin-70{margin:70vw;}
.margin-71{margin:71vw;}
.margin-72{margin:72vw;}
.margin-73{margin:73vw;}
.margin-74{margin:74vw;}
.margin-75{margin:75vw;}
.margin-76{margin:76vw;}
.margin-77{margin:77vw;}
.margin-78{margin:78vw;}
.margin-79{margin:79vw;}
.margin-80{margin:80vw;}
.margin-81{margin:81vw;}
.margin-82{margin:82vw;}
.margin-83{margin:83vw;}
.margin-84{margin:84vw;}
.margin-85{margin:85vw;}
.margin-86{margin:86vw;}
.margin-87{margin:87vw;}
.margin-88{margin:88vw;}
.margin-89{margin:89vw;}
.margin-90{margin:90vw;}
.margin-91{margin:91vw;}
.margin-92{margin:92vw;}
.margin-93{margin:93vw;}
.margin-94{margin:94vw;}
.margin-95{margin:95vw;}
.margin-96{margin:96vw;}
.margin-97{margin:97vw;}
.margin-98{margin:98vw;}
.margin-99{margin:99vw;}
.margin-100{margin:100vw;}*/

.margin-1{margin:1%;}
.margin-2{margin:2%;}
.margin-3{margin:3%;}
.margin-4{margin:4%;}
.margin-5{margin:5%;}
.margin-6{margin:6%;}
.margin-7{margin:7%;}
.margin-8{margin:8%;}
.margin-9{margin:9%;}
.margin-10{margin:10%;}
.margin-11{margin:11%;}
.margin-12{margin:12%;}
.margin-13{margin:13%;}
.margin-14{margin:14%;}
.margin-15{margin:15%;}
.margin-16{margin:16%;}
.margin-17{margin:17%;}
.margin-18{margin:18%;}
.margin-19{margin:19%;}
.margin-20{margin:20%;}
.margin-21{margin:21%;}
.margin-22{margin:22%;}
.margin-23{margin:23%;}
.margin-24{margin:24%;}
.margin-25{margin:25%;}
.margin-26{margin:26%;}
.margin-27{margin:27%;}
.margin-28{margin:28%;}
.margin-29{margin:29%;}
.margin-30{margin:30%;}
.margin-31{margin:31%;}
.margin-32{margin:32%;}
.margin-33{margin:33%;}
.margin-34{margin:34%;}
.margin-35{margin:35%;}
.margin-36{margin:36%;}
.margin-37{margin:37%;}
.margin-38{margin:38%;}
.margin-39{margin:39%;}
.margin-40{margin:40%;}
.margin-41{margin:41%;}
.margin-42{margin:42%;}
.margin-43{margin:43%;}
.margin-44{margin:44%;}
.margin-45{margin:45%;}
.margin-46{margin:46%;}
.margin-47{margin:47%;}
.margin-48{margin:48%;}
.margin-49{margin:49%;}
.margin-50{margin:50%;}
.margin-51{margin:51%;}
.margin-52{margin:52%;}
.margin-53{margin:53%;}
.margin-54{margin:54%;}
.margin-55{margin:55%;}
.margin-56{margin:56%;}
.margin-57{margin:57%;}
.margin-58{margin:58%;}
.margin-59{margin:59%;}
.margin-60{margin:60%;}
.margin-61{margin:61%;}
.margin-62{margin:62%;}
.margin-63{margin:63%;}
.margin-64{margin:64%;}
.margin-65{margin:65%;}
.margin-66{margin:66%;}
.margin-67{margin:67%;}
.margin-68{margin:68%;}
.margin-69{margin:69%;}
.margin-70{margin:70%;}
.margin-71{margin:71%;}
.margin-72{margin:72%;}
.margin-73{margin:73%;}
.margin-74{margin:74%;}
.margin-75{margin:75%;}
.margin-76{margin:76%;}
.margin-77{margin:77%;}
.margin-78{margin:78%;}
.margin-79{margin:79%;}
.margin-80{margin:80%;}
.margin-81{margin:81%;}
.margin-82{margin:82%;}
.margin-83{margin:83%;}
.margin-84{margin:84%;}
.margin-85{margin:85%;}
.margin-86{margin:86%;}
.margin-87{margin:87%;}
.margin-88{margin:88%;}
.margin-89{margin:89%;}
.margin-90{margin:90%;}
.margin-91{margin:91%;}
.margin-92{margin:92%;}
.margin-93{margin:93%;}
.margin-94{margin:94%;}
.margin-95{margin:95%;}
.margin-96{margin:96%;}
.margin-97{margin:97%;}
.margin-98{margin:98%;}
.margin-99{margin:99%;}
.margin-100{margin:100%;}



.form-element-1{font-size:1.2em;}
.form-element-2{font-size:2em;}
@media screen and (max-width:768px) {
	.form-element-1{font-size:0.9em;}
	.form-element-2{font-size:2em;}
}
@media screen and (max-width:400px) {
	.form-element-1{font-size:0.8em;}
	.form-element-2{font-size:2em;}
}